[Unit]
Description=Expired files cleanup service
After=network.target

[Service]
User=linx
Group=linx
ExecStart=/usr/bin/linx-server cleanup
WorkingDirectory=/srv/linx/

[Install]
WantedBy=multi-user.target
